@import '../../../../../app/scss/forms';

$medium-break: 40em;
$large-break: 64em;
$xlarge-break: 90em;
$xxlarge-break: 120em;

#loginForm {
  h1 {
    margin-bottom: 0.125rem;
  }

  p.register-link {
    margin-bottom: 1.25rem;

    @media screen and (min-width: $medium-break) {
      margin-top: 0.5rem;
      font-size: 1.25rem;
    }
  }
}