@import '../../../consts/colors.scss';
@import '../../../consts/screen-breaks.scss';

#overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;

  div.background {
    padding: 1rem 1rem 1.625rem 1rem;
    min-width: 25rem;
    width: 50%;
    margin: 0 auto;
    position: relative;
    background-color: white;
    max-height: 100%;
    overflow: scroll;
    box-sizing: border-box;

    @media screen and (min-width: $medium-break) {
      padding: 3rem;
    }
    > .closeIcon {
      position: absolute;
      right: 1rem;
      top: 1rem;
      line-height: initial;
      width: 2rem;
      cursor: pointer;

      .close {
        fill: $error-red;
        transition: fill 0.5s ease-in-out;
      }

      &:hover .close {
        fill: $dark-error-red;
        transition: fill 0.5s ease-in-out;
      }
    }
  }
}