$medium-break: 40em;
$large-break: 64em;
$xlarge-break: 90em;
$xxlarge-break: 120em;

main {
  position: relative;
  overflow: auto;

  section#message {
    position: absolute;
    background-image: url('/assets/img/blue-brush.png');
    background-position-x: 50%;
    background-position-y: 60%;
    background-size: 140% 110%;
    width: 100%;
    text-align: center;
    z-index: 100;
    top: 0;
    left: 0;

    &.error {
      background-image: url('/assets/img/red-brush.png');
      background-position-x: 50%;
      background-position-y: 60%;
      background-size: 140% 110%;
    }

    p {
      margin: 0.75rem 0 1rem 0;
      color: white;
      font-weight: normal;
      font-size: 1.125rem;
      font-family: 'Lato', sans-serif;
      text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);

      @media screen and (min-width: $medium-break) {
        font-size: 1.25rem;
      }

      a {
        font-family: 'font-awesome-light';
        font-size: 1.25rem;
        line-height: 1.25rem;
        position: relative;
        top: 0.25rem;
        padding-right: 0.375rem;
        top: 0.0625rem;
        cursor: pointer;

        @media screen and (min-width: $medium-break) {
          font-size: 1.375rem;
          line-height: 1.5rem;
          top: 0.12rem;
        }
      }
    }
  }
}