@import '../../../../../../../consts/colors.scss';
@import '../../../../../../../consts/screen-breaks.scss';

#donationConfirmation {
  p.title {
    color: #999999;
    font-size: 1.125rem;
    font-family: 'Lato', sans-serif;
    line-height: initial;
    font-weight: 300;
    margin-bottom: 0.125rem;

    @media screen and (min-width: $medium-break) {
      font-size: 1.25rem;
    }
  }

  p {
    font-size: 1.25rem;
    color: #808080;
    margin: 0.125rem 0 1rem 0;
    line-height: initial;

    @media screen and (min-width: $medium-break) {
      font-size: 1.375rem;
    }
  }

  .cardInfo {
    display: flex;
    align-items: center;
    margin: 0.125rem 0 1rem 0;

    p {
      margin: 0;
    }
    .cardIcon {
      padding: 0 0 0 0.75rem;
      height: 1.25rem;
      vertical-align: middle;

      * {
        fill: darken($blue-hydrangea, 30);
      }
    }
  }
  .donationInfo {
    margin-top: 1rem;
    position: relative;

    .actions {
      position: absolute;
      top: 0;
      right: 0;

      button {
        margin: 0 0 0.375rem 0;
        padding: 0.25rem;
        width: auto;
        font-size: 1rem;
        display: block;
        font-weight: 300;
        background: none;
        border: none;
        cursor: pointer;

        &.edit {
          color: $light-hydrangea;
          transition: color 0.5s;

          span.text {
            border-bottom: 0.03125rem solid $light-hydrangea;
            transition: border-color 0.5s;
          }

          .icon {
            vertical-align: middle;
            padding: 0 0.25rem 0.125rem 0.125rem;
            height: 1.125rem;

            * {
              fill: $light-hydrangea;
              transition: fill 0.5s;
            }
          }

          &:hover {
            color: $dark-blue-hydrangea;
            transition: color 0.5s;

            span.text {
              border-bottom: 0.03125rem solid $dark-blue-hydrangea;
              transition: border-color 0.5s;
            }

            .icon {
              * {
                fill: $dark-blue-hydrangea;
                transition: fill 0.5s;
              }
            }
          }
        }

        &.cancel {
          color: $error-red;
          transition: color 0.5s;

          span.text {
            border-bottom: 0.03125rem solid $error-red;
            transition: border-color 0.5s;
          }

          .icon {
            vertical-align: middle;
            padding: 0 0.375rem 0.125rem 0;
            height: 1.25rem;

            * {
              fill: $error-red;
              transition: fill 0.5s;
            }
          }
    
          &:hover {
            color: $dark-error-red;
            transition: color 0.5s;

            span.text {
              border-bottom: 0.03125rem solid $dark-error-red;
              transition: border-color 0.5s;
            }

            .icon {
              * {
                fill: $dark-error-red;
                transition: fill 0.5s;
              }
            }
          }
        }
      }
    }
  }
}