@import '../../../../../../consts/screen-breaks.scss';
@import '../../../../../../consts/colors.scss';

.non-profit-info {
  opacity: 1;
  max-height: 47rem;
  transition: max-height 1s 0.05s, padding 0.05s, margin 1s 0.5s, opacity 1s 0.05s;
  transition-timing-function: ease-in-out;
  overflow: hidden;

  @media screen and (min-width: $medium-break){
    max-height: 41.0625rem;
  }
}

.hide {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: max-height 1s, padding 0.25s 0.75s, margin 0.25s 0.75s, opacity 1s;
  transition-timing-function: ease-in-out;
}

#register {
  form {
    section {
      display: block;

      @media screen and (min-width: $medium-break) {
        display: flex;
      }
      
      .form-inputs {
        order: 2;

        @media screen and (min-width: $medium-break){
          order: 1;
        }
      }
    }

    > h1:first-child {
      margin-top: 0;
    }

    .agreed {
      text-align: center;
      margin-top: 2rem;
    }
  }
}