@import '../../../../consts/colors.scss';
@import '../../../../consts/screen-breaks.scss';

#mngCampaigns{
  .main-content {
    .link-button {
      border: none;
    }

    .heading {
      align-content: space-between;
      padding-bottom: 1rem;

      @media screen and (min-width: $medium-break) {
        display: flex;
      }

      @media screen and (max-width: $medium-break) {
        h1 {
          margin-bottom: 2.5rem
        }
      }

      > * {
        flex-grow: 1;
      }
    }

  .link-button {
    .button {
      margin: 0;
    }
  }

    .campaigns {
      display: flex;
      flex-wrap: wrap;
      
      article {
        width: 100%;
        box-sizing: border-box;

        @media screen and (min-width: $medium-break) {
          width: 50%;
          padding-right: 1rem;
        }

        @media screen and (min-width: $large-break) {
          width: 33%;
          padding-right: 1rem;
        }
      }
    }
  }
}