@import '../../../../../consts/screen-breaks.scss';

#loginForm {
  max-width: 45rem;
  margin: 0 auto;

  p.register-link {
    margin-bottom: 1.25rem;
    font-size: 1rem;

    @media screen and (min-width: $medium-break) {
      margin-top: 0.5rem;
      font-size: 1.125rem;
    }
  }
}